<h1>Throw the Pitch!</h1>

<h2>Pitches Ready to Throw!</h2>

<ul>
  {{#each pitches}}
    {{#unless thrown}}
      {{> baseball/baseball-block thrown=false}}
      {{!-- {{this.pitch_type}} --}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Pitches Thrown!</h2>

<ul>
  {{#each pitches}}
    {{#if thrown}}
    {{!-- {{this.pitch_type}} --}}
      {{> baseball/baseball-block2 thrown=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a new pitch</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Pitch Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">throw?</label><br>
    <input type="radio" name="throw" value="0" checked> Not Thrown<br>
    <input type="radio" name="throw" value="1"> Thrown!
  </div>

  <button type="submit">Add Pitch</button>
</form>
